apiVersion: v1
kind: Pod
metadata:
  name: weather-pipeline-test
  namespace: weather-pipeline
  labels:
    app: weather-pipeline
spec:
  restartPolicy: Never
  containers:
  - name: weather-pipeline
    image: weather-pipeline:latest
    imagePullPolicy: Never
    args: ["test"]  # Run in test mode first
    env:
    - name: WEATHER_API_KEY
      value: "e99f845ef6c72dc0a3de1c018e8c3b04"
    - name: DATABASE_URL
      value: "jdbc:postgresql://postgres-service.weather-pipeline.svc.cluster.local:5432/weather_db"
    - name: DB_HOST
      value: "postgres-service.weather-pipeline.svc.cluster.local"
    - name: DB_PORT
      value: "5432"
    - name: DB_NAME
      value: "weather_db"
    - name: DB_USER
      value: "postgres"
    - name: DB_PASSWORD
      value: "Debo*002"
    resources:
      requests:
        memory: "512Mi"
        cpu: "250m"
      limits:
        memory: "1Gi"
        cpu: "500m"